@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500&family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #3c3eab;
  user-select: none;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
